# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Lock files
fileHashes.lock

# System files
.DS_Store
Thumbs.db
